<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
  </head>
  <body>
    <table border="1" cellspacing="0" cellpadding="5">
      <thead>
        <th>Original URL</th>
        <th>Shortened URL</th>
        <th>Views</th>
      </thead>
      <tbody>
        <% urls.forEach(url => { %>
        <tr>
            <td><%= url.redirectURL %></td>
            <td><%= url.shortId %></td>
            <td><%= url.visitHistory.length %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
